html, body{
  margin: 0;
  color: #2d2929;
}
nav{
  padding: 15px 0px 5px 5px;
  padding-left: 200px;
  display: block;
  height: 60px;
}
nav > li{
  display: inline-block;
  color: black;
  margin-left: 20px;
  float: left;
  padding: 10px 10px;
}
nav > li > a{
  color: #403b3b;
  text-decoration: none;
}
nav > li.brand{
  border-right: 1px solid grey;
  padding: 10px 20px !important;
}
nav > li.brand> a{
  font-size: 16px;
  font-weight: bold;
  color: #2d2929;
}
.pull-right{
  float: right;
  position: absolute;
  right: 100px;
}
.container{
  padding-left: 0px;
  padding-right: 0px;
}
.container-lg-pad{
  padding-left: 120px;
  padding-right: 120px;
}
.row{
  width: 100%;
  float: left;
}
.responsive{
  width: 100%;
}
h3.head{
  text-align: center;
  color: #403b3b;
}
.col-md-4{
  width: 30%;
  float: left;
  padding:10px 10px;
}
.product-box{
  border: 3px solid #cecbcb;
  border-radius: 3px;
  padding-left: 20px;
}
.product-box > img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: block;
}
.product-details{
  text-align: center;
}
.col-md-1{
  width: 20%;
  float: left;
  padding:10px 10px;
}
.col-md-1 > img{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.container-ads{
  padding-left: 97px;
  width: 87%;
}